 .container1 div ,.container2 div, container3 div{
  width: 50px;
  height: 50px;
}
.container1{
  background-color: darkcyan;
  height: 200px;
  display: flex;
  flex-direction:column; /*row*/
  }
.container2{
  background-color: darkcyan;
  height: 100px;
  display: flex;
  flex-direction: column;/*row row-reversed column-reversed*/
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  
  }
.container3{
  background-color: darkcyan;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: row; /* or column */
}
.container3 div{
  flex-grow: 2;
 /* flex-basis: 100;*/
  height: 50px;
  width:100px;
}
